USE [master]
GO
/****** Object:  Database [Pub]    Script Date: 31/10/2023 15:46:16 ******/
CREATE DATABASE [Pub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pub', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\Pub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pub_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\Pub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pub]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 31/10/2023 15:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[BeerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[BrandId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BeerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 31/10/2023 15:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Beer] ON 

INSERT [dbo].[Beer] ([BeerId], [Name], [BrandId]) VALUES (11, N'Bud Light', 6)
INSERT [dbo].[Beer] ([BeerId], [Name], [BrandId]) VALUES (12, N'Coors Light Lager Beer', 7)
INSERT [dbo].[Beer] ([BeerId], [Name], [BrandId]) VALUES (13, N'Miller Lite Lager Beer', 8)
SET IDENTITY_INSERT [dbo].[Beer] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (6, N'Bud Light')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (7, N'Coors Beer')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (8, N'Miller Brewing Co.')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
ALTER TABLE [dbo].[Beer]  WITH CHECK ADD FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
GO
USE [master]
GO
